# Raw/intermediate astronomical data
*.fit
*.fits
*.seq
*.lst

# Siril processing folders
process/
Siril_delovne_mape/
Surove_meritve/
Mozaik_V/
Mozaik_V_ordered/

# Python cache
__pycache__/
*.pyc

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
